* {
  padding: 0;
  margin: auto;
}
html {
  width: 800px;
}

body {
  background-color: #d8faff;
  border: 3px ridge #00fff2;
  margin: 16px;
  font-family: 'Cinzel', serif;
}

.header {
  border-bottom:3px ridge #00fff2 ;
  padding: 5px;
  text-align:center;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Cinzel', serif;

}

h2 {
  border-bottom: 3px ridge #00fff2;
  padding: 5px;
  text-align: center;
  background-color:#3d4d85 ;
  color:#ff660094;
  font-family: 'Cinzel', serif;

}

li {
  list-style-type: none;
  font-family: 'Cinzel', serif;
}

.nav {
  padding: 12px;
  border-bottom: 3px ridge #00fff2;
  font-family: 'Cinzel', serif;
}


.content {
  padding: 12px;
  border-bottom: 3px ridge #00fff2;
  font-size: 1.2em;
  font-family: 'Cinzel', serif;
}

.content p {
  margin-bottom: 15px;
  text-indent: 30px;
  text-align: justify;
  font-family: 'Cinzel', serif;
}

.active {
  font-weight: bold;
  font-style: italic;
  font-family: 'Roboto Condesend', sans-serif;

}

.footer {
  padding:3px;
  text-align: right;
  font-size: 3mm;
  font-family: 'Roboto Condesend', sans-serif;
}
/*8093f1*\
/*72ddf7*\
/*b388eb*\
/*fdc5f5*\
/*80dbd2*\
/*7209b7*\
/*9b5de5*\
/*fffd98*\