* {
  padding: 0;
  margin: auto;
}
html {
  width: 800px;
}

body {
  background-color: #fffd98;
  border: 3px ridge #89b0ae;
  margin: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  border-bottom:3px ridge #89b0ae ;
  padding: 5px;
  text-align:center;
  background-color: #ffd6ba;
  color: #555b6e;
}

h2 {
  border-bottom: 3px ridge #89b0ae;
  padding: 5px;
  text-align: center;
  background-color:#555b6e ;
  color:#ffd6ba;
}

li {
  list-style-type: none;
}

.nav {
  padding: 12px;
  border-bottom: 3px ridge #89b0ae;
}


.content {
  padding: 12px;
  border-bottom: 3px ridge #89b0ae;
  font-size: 1.2em;
}

.content p {
  margin-bottom: 15px;
  text-indent: 30px;
  text-align: justify;
}

.active {
  font-weight: bold;
  font-style: italic;
}

.footer {
  padding:3px;
  text-align: right;
  font-size: 3mm;
}
/*8093f1*\
/*72ddf7*\
/*b388eb*\
/*fdc5f5*\
/*80dbd2*\
/*7209b7*\
/*9b5de5*\
/*fffd98*\