* {
  padding: 0;
  margin: auto;
}
html {
  width: 800px;
}

body {
  font-family: "Patrick Hand", cursive;
  background-color: #ffd7f9;
  border: 3px ridge #b388eb;
  margin: 16px;
}

.header {
  border:3px ridge #72ddf7 ;
  padding: 5px;
  text-align:center;
  background-color: #80dbd2;
  color: #6f7bf7;
}

li {
  list-style-type: none;
}

.nav {
  padding: 12px;
  border: 3px ridge #ee6055;
}

.content {
  padding: 12px;
  border: 3px ridge #7161ef;
}

.active {
  color: #a288e3;
  font-weight: bold;
  font-style: italic;
}

.footer {
  border:3px ridge #7209b7;
  padding:3px;
  text-align: right;
}
/*8093f1*\
/*72ddf7*\
/*b388eb*\
/*fdc5f5*\
/*80dbd2*\
/*7209b7*\